<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex - Ajax JK</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="menu">
            <ul class="menu_element">
                <li class="menu_item">HOME</li>
                <li class="menu_item">AUTHOR</li>
                <li class="menu_item">PORTFOLIO</li>
            </ul>
        </div>
        <div class="search_bar">
            <span class="search_element">
                <input type="text">
                <!-- Put Icon HERE -->
            </span>
        </div>
        <div class="deck" id="deck">
            
        </div>
        <div class="footer">
            <span>Jorge Kassabji | All Right Reserved 2021</span>
        </div>
    </div>

    <script src="/js/xhr.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>